<div class="card mb-2" id="btn-import">
    <button type="button" class="btn btn-outline-success btn-sm" (click)="btnImport()">Importar traducciones</button>
</div>
<div class="card" id="menu">
  <div class="list-group list-group-flush">
          <a id="menu-{{item.id}}" type="button" *ngFor="let item of menu; let i = index"
              class="list-group-item list-group-item-action d-flex justify-content-between align-items-start text-muted"
              aria-current="true" href="javascript:void(0)" (click)="getMenu(item)" [ngClass]="{'active-item': checkActiveItem(item.id)}">

              <span>
                {{item.name}}
              </span>
              <span class="badge rounded-pill bg-secondary">
                {{item.countLiterals}}
              </span>
          </a>
  </div>
</div>
