.active-item {
    border-right: 2px solid rgb(212, 57, 57);
    color: black !important;
}

#btn-import {
    //#background-color: color|transparent|initial|inherit;
    background-color: inherit;
    border: 0px;
}
