<div>
    <div class="mb-3">
        <div class="btn-group btn-group-sm" role="group">
            <button id="filter-all" type="button" class="btn btn-outline-secondary text-muted active"
                (click)="clickFilter('all')">
                Mostrar todos
            </button>
            <button id="filter-missing" type="button" class="btn btn-outline-secondary text-muted"
                (click)="clickFilter('missing')">
                Faltan traducciones
                <span class="badge rounded-pill bg-secondary text-muted">{{countFilterShow('missing')}}</span>
            </button>
            <button id="filter-untranslated" type="button" class="btn btn-outline-secondary text-muted"
                (click)="clickFilter('untranslated')">
                Huerfanos
                <span class="badge rounded-pill bg-secondary text-muted">{{countFilterShow('untranslated')}}</span>
            </button>
        </div>
        <div class="btn-group btn-group-sm float-end" role="group">
            <button id="filter-all" type="button" class="btn btn-outline-success" title="Nuevo" (click)="newItem()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
            </button>
        </div>
    </div>
    <div class="list-group" *ngIf="!show.loading.status">
        <a href="javascript:void(0)" *ngFor="let literal of selectedProject.literals | orderBy: 'name'"
            (click)="selectedLiteral(literal)" id="{{literal.id}}"
            class="list-group-item list-group-item-action flex-column align-items-start" aria-current="true"
            [ngClass]="checkAlert(literal, selectedProject.id)">

            <div class="d-flex w-100 justify-content-between">
                <p class="mb-1 text-dark"><small class="mb-1"><b>{{literal.name}}</b></small></p>
                <small class="text-muted" [innerHTML]="checkLangs(literal.lang)"></small>
            </div>
            <small class="mb-1 text-muted" *ngIf="literal.lang.ES">{{literal.lang.ES}}</small>
        </a>
    </div>
</div>
<div class="card" *ngIf="selectedProject.literals.length === 0">
    <div class="card-body">
        <h4>0 Resultados</h4>
    </div>
</div>

