.active{
    border: 1px solid rgb(212, 57, 57);
    color: rgb(212, 57, 57) !important;
    background-color: transparent;
    margin: 0px;
    z-index: 100;
}
#filters-group {
  margin: 0px;
}

#btn-new{
    margin-right: 5px;
}
